[submodule "nextBrain-back"]
	path = nextBrain-back
	url = https://github.com/abderbj/nextBrain-back.git
	branch = master
[submodule "next-ora"]
	path = next-ora
	url = https://x-access-token:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/Ziedmach/next-ora.git
	branch = main
